.steps {
	padding: 0;
	margin: 50px auto;
	list-style: none;
	text-align: center;
    color: #262a2b;
}
.steps li {
	display: inline-block;
	width: 200px;
    height: 200px;
	padding: 20px 20px 40px;
	position: relative;
	vertical-align: top;
	margin: 10px;
	min-height: 25vh;
    /* background: antiquewhite; */
	background: rgb(149, 247, 242);
	/* border: 1px solid #252727; */
    border-radius: 20px;
	text-align: left;
}
/* .steps li h2{
	font-size: 114px;
	margin: 0;
	position: absolute;
	opacity: 0.2;
	top: 50px;
	right: 10px;
	transition: all 0.3s ease-in-out;
} */



.steps li h3 {
	font-size: 20px;
    font-weight: 900;
	/* color: #b7b7b7; */
	color: black;
	margin-bottom: 5px;
	/* text-decoration: underline; */
}
.steps li p {
    text-transform: capitalize;
	font-size: 30px;
	line-height: 40px;
	/* color: #252727; */
	color: #303131;
	margin-top: 5px;
    /* font-weight: 500; */
}

.steps li:hover{
    box-shadow: -11px 11px 1px -3px rgba(102,102,102,0.75);
-webkit-box-shadow: -11px 11px 1px -3px rgba(102,102,102,0.75);
-moz-box-shadow: -11px 11px 1px -3px rgba(102,102,102,0.75);
}

/* .steps li:hover h2 {
	top: 0px;
	opacity: 0.6;
} */

.btnn{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
    transition: all 0.3s ease-in-out;
}

.btnnn{
    border: 1px solid black;
}

.btnn :hover{
    /* transform: scale(1.5); */
	color: black;
}

.para{
    width: 90%;
	margin: 20px auto;
    height: 80px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 30px;
    padding-top: 50px;
    /* color: #b7b7b7; */
	color: #262a2b;
}

.getStarted{
	margin-bottom: 20px;
	margin-left: 45%;
}

@media (max-width: 675px){
	.getStarted{
		margin-bottom: 20px;
		margin-left: 28%;
	}
	/* .para{
		width: 90%;
		margin: 40px auto;
		padding-bottom: 80px;
	} */
}