
/* .container {
    max-width: 640px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
} */

/* ul.ks-cboxtags {
    list-style: none;
    padding: 20px;
}

ul.ks-cboxtags li label{
    width: 100%;
    display: inline-block;
    background-color: rgba(255, 255, 255, .9);
    border: 2px solid rgba(139, 139, 139, .3);
    color: #adadad;
    border-radius: 25px;
    white-space: nowrap;
    margin: 3px 0px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    transition: all .2s;
}
ul.ks-cboxtags li label span{
    float: right;
    margin-right: 50px;
}

ul.ks-cboxtags li label {
    padding: 8px 12px;
    cursor: pointer;
}

ul.ks-cboxtags li label::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 12px;
    padding: 2px 6px 2px 2px;
    content: "\f067";
    transition: transform .3s ease-in-out;
}

ul.ks-cboxtags li input[type="checkbox"]:checked + label::before {
    content: "\f00c";
    transform: rotate(-360deg);
    transition: transform .3s ease-in-out;
}

ul.ks-cboxtags li input[type="checkbox"]:checked + label {
    border: 2px solid #1bdbf8;
    background-color: #12bbd4;
    color: #fff;
    transition: all .2s;
}

ul.ks-cboxtags li input[type="checkbox"] {
  display: absolute;
}
ul.ks-cboxtags li input[type="checkbox"] {
  position: absolute;
  opacity: 0;
}
ul.ks-cboxtags li input[type="checkbox"]:focus + label {
  border: 2px solid #e9a1ff;
} */

.cbox li{
  list-style: none;
  border: 1px solid darkcyan;
  width: 50%;
  margin: 20px auto;
  border-radius: 20px;
}

.foodStall{
  width: 90%;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
}

.foodStall h1{
  font-size: 20px;
  font-weight: 200;
}

.foodStall-right{
  display: flex;
}

@media (max-width: 675px){
  .foodStall{
   flex-direction: column;
   text-align: center;
  }

  .foodStall h1{
    font-size: 25px;
    font-weight: 200;
  }

  .foodStall-right{
    margin-top: 20px;
    margin-left: 30%;
    /* justify-content: space-around; */
  }

  .foodStall-right button{
    margin-left: 30%;
  }

  .cbox li{
    width: 90%;
  }
}